@import "tailwindcss";

@theme {
  --color-primary: #7971ea;
  --color-primary-hover: #5a50e5;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    color: theme(colors.gray.900);
  }
}